$webResourceManager.requireResource("ru.sds.plugialo.absenter:planner-resources")

<div id="sg-planner-absenceInfo">

#if($userAbsenceEntry)

<table class="aui">

<tr>
<td style="width:10%"> 
   <div style="margin-top:10px;margin-left:10px" title="$i18n.getText("locale.jira.absenceplanner.icon.reasontext"): $userAbsenceEntry.getType() - $i18n.getText("locale.jira.absenceplanner.from"): $userAbsenceEntry.getPlannerDate($userAbsenceEntry.getStartDate()) $i18n.getText("locale.jira.absenceplanner.to") : $userAbsenceEntry.getPlannerDate($userAbsenceEntry.getEndDate()) - $i18n.getText("locale.jira.absenceplanner.message"): $userAbsenceEntry.getMessage()" class="userAbsent-led"></div>
</td>
<td> 
            <div class="sg-planner-notAvailable" style="margin-top:05px">
                #set($type= $userAbsenceEntry.getType())
                #if($type==-1)
                    #set($type="recurrent")
                #end
                         #if($type=="Others")
                        <span class="aui-lozenge">Others</span>
                        #elseif ($type=="Holiday" || $type=="Vacation")
                            <span class="sg-planner-AbsenceInfo-icon" title="Holiday"> </span> <br/>
                        #elseif($type=="Business Trip")
                            <span class="sg-planner-business-trip" title="Business Trip"> </span><br/>
                        #elseif($type=="Overtime reduction")
                            <span class="sg-planner-overtime" title="Overtime reduction Trip"> </span> <br/>
                        #elseif($type=="Maternity or Paternity")
                            <span class="sg-planner-matpaternity" title="Maternity or Paternity"> </span> <br/>
                        #elseif($type=="Conference")
                            <span class="sg-planner-conference" title="Conference"> </span> <br/>
                        #elseif($type=="Trade Fair")
                            <span class="sg-planner-TradeFair" title="Trade Fair"> </span><br/>
                        #elseif($type=="Training")
                            <span class="sg-planner-training" title="Training"> </span> <br/>
                        #elseif($type=="Sickness")
                            <span class="sg-planner-illness" title="Sickness"> </span> <br/>
                        #elseif($type=="Long Term Leave")
                            <span class="sg-Long-term-leave" title="Long Term Leave"> </span><br/>
                         #elseif ($type=="recurrent" || $type=="Recurrent")
                            <span class="sg-planner-recurringAbsence" title="Recurrent"> </span> <br/>
                        #else
                        $type
                       #end

            </div>
            </td>

            <td>
               #if ($type=="recurrent" )
               <span style="font-size:14px;color:#505F79" >Every $userAbsenceEntry.getRecurringDays() </span>
               #else <span style="font-size:11px;color:#505F79" > <b>From:</b>  $userAbsenceEntry.getPlannerDate($userAbsenceEntry.getStartDate()) <br/><b>To:</b> $userAbsenceEntry.getPlannerDate($userAbsenceEntry.getEndDate())</span>
                #end
            </td>
</tr>
    
</table>

    #else
        #if($isLoggedIn)
            <div title="User is online since $lastLoginTime" style="margin-left:20px;margin-top:20px;" class="userOnline-led"></div></h3>
        #else
            #if($lastLoginTime)
            <div  title="Offline - User last login was on: $lastLoginTime" style="margin-left:20px;margin-top:20px;" class="userOffline-led"></div></h3>
            #else
            <div  title="User is offline" class="userOffline-led" style="margin-left:20px;margin-top:20px;"></div></h3>
            #end

        #end
        
    
    #end
</div>