$webResourceManager.requireResource("ru.sds.plugialo.absenter:planner-resources")
<link rel="stylesheet" href="/path/to/rescalendar.css">
<script src="/path/to/jquery.min.js"></script>
<script src="/path/to/moment-with-locales.js"></script>
<script src="/path/to/rescalendar.js"></script>

#if($userAbsencesList && $userAbsencesList.size()>0)

    <h3>
Planned Absences:
    </h3>
    <hr/>
    <div>
        <table  class="aui">
        <thead>
            <tr>
                <th>ID</th>
                <th>Summary</th>
                <th>Type</th>
                <th>From</th>
                <th>To</th>
                <th>Message</th>
                <th>Actions</th>

            </tr>
            </thead>
            <tbody>
            #foreach($userAbsenceEntry in $userAbsencesList)
                <tr>
                    <td class="absenceId" sg-data="$userAbsenceEntry.getAbsenceId()">
                    #if($userAbsenceEntry.getAbsenceId())
                        $userAbsenceEntry.getAbsenceId()
                    #else
                        1
                    #end
                    </td>
                    <td class="absenceSummary" sg-data="$userAbsenceEntry.getSummary()">
                        $userAbsenceEntry.getSummary()
                    </td>
                    <td class="absenceType" sg-data="$userAbsenceEntry.getType()">
                       #set($type= $userAbsenceEntry.getType())
                       #set($TypeNotSet=true)
                       #if($type=="Others")
                        <span class="aui-lozenge">Others</span>
                                               #set($TypeNotSet=false)

                       #end
                       #if($type=="Holiday" || $type=="Vacation")
                            <span class="aui-lozenge aui-lozenge-current">Holiday</span>
                                                   #set($TypeNotSet=false)

                       #end
                        #if($type=="Sickness")
                                               #set($TypeNotSet=false)

                            <span class="aui-lozenge aui-lozenge-error">Sickness</span>
                       #end
                       #if($type=="Business Trip")
                                              #set($TypeNotSet=false)

                            <span class="aui-lozenge aui-lozenge-subtle aui-lozenge-success">Business Trip</span>
                       #end
                        #if($TypeNotSet)
                            $type
                        #end
                    </td>
                    <td class="absenceStartDate" sg-data="$userAbsenceEntry.getPlannerDate($userAbsenceEntry.getStartDate())">
                        ##$userAbsenceEntry.getStartDate()
                        ##$sgUtils
                        ##$sgUtils.getLocalDateFromEpoch($userAbsenceEntry.getStartDate()/1000)

                        $userAbsenceEntry.getUIFormattedSate($userAbsenceEntry.getStartDate())

                    </td>
                    <td class="absenceEndDate" sg-data="$userAbsenceEntry.getPlannerDate($userAbsenceEntry.getEndDate())">
                         $userAbsenceEntry.getUIFormattedSate($userAbsenceEntry.getEndDate())
                       ##$userAbsenceEntry.getEndDate()
                       ## $sgUtils.getLocalDateFromEpoch($userAbsenceEntry.getEndDate())
                        ##$userAbsenceEntry.getEndDate()
                    </td>
                    <td class="absenceMessage" sg-data="$userAbsenceEntry.getMessage()">
                        $userAbsenceEntry.getMessage()
                    </td>
                    <td>
                       #set($id= $userAbsenceEntry.getId())
                        <span class="aui-icon aui-icon-small aui-iconfont-edit-filled sg-edit-absence" sg-data-absid="$id" >Edit Absence</span>
                        <span data-aui-trigger aria-controls="sg-cancel-confirm-dialog-$userAbsenceEntry.getAbsenceId()" style="color:#DE350B;float:right" class="aui-icon aui-icon-small aui-iconfont-cross sg-cancel-absence" sg-data-absid="$userAbsenceEntry.getAbsenceId()">Remove Absence</span>
                        <aui-inline-dialog id="sg-cancel-confirm-dialog-$userAbsenceEntry.getAbsenceId()">
                        <div><span  class="aui-icon aui-icon-small aui-iconfont-warning">Warning</span></div>
                            <b> You choose to remove this absence entry, are you sure?
                            <button class="aui-button aui-button-primary sg-confirm-no" sg-absenceid="$userAbsenceEntry.getAbsenceId()" >No</button>
                            <button class="aui-button sg-confirm-yes" sg-absenceid="$userAbsenceEntry.getAbsenceId()">Yes</button>
                        </aui-inline-dialog>
                    </td>
                </tr>
            #end
            </tbody>
        </table>
    </div>
#end 